.indicators {

    &__wrapper {
        width: 70px;
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 35px);
        justify-items: center;
        align-items: center;
    }

    &__percent-hum {
        font-size: 13px;
    }

    &__name {
        font-size: 11px;
    }
}