.main {
    width: 900px;
    min-height: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 23px;

    &__city {
        width: 340px;
        margin-right: 50px;
        background-color: rgb(217, 217, 217, 5%);
        box-shadow: 0 0 10px rgba(217, 217, 217, 0.9);
        border-radius: 30px;
    }

    &__all-info {
        width: 500px;
        @include background-size-main;
    }

    &__weekly {
        width: 290px;
        margin-right: 31px;
        @include background-size-main;
    }

    &__hours {
        width: 572px;
        @include background-size-main;
    }
}